#project-banner {
    margin: 3rem auto;
    width: 30vw;
}

#project-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin: 3rem auto;
    width: 60vw;
}

#project-add-button {
    transition: all 0.2s ease-in-out;
    padding: 1rem 0.3rem;
}

#project-add-button:hover {
    background-color: rgb(100,123,255);
}

.project-card {
    border: 1px solid #b9b4b4;
    border-radius: 0.5rem;
    box-shadow: 1px 2px rgba(36, 36, 36, 0.15);
    background-color: rgb(236, 236, 236);
    margin: inherit;
    padding: 0.75rem;
    width: 300px;
    min-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header {
    height: 120px;
}

.card-footer {
    height: calc(100% - 120px);
}

.card-button {
    color: rgb(255, 255, 255);
    background-color: rgb(0,123,255);
    border: 1px solid;
    border-radius: 10px;
    padding: 0.5rem;
}

.card-button:hover {
    background-color: rgb(100,123,255);
    padding: 0.6rem;
}

@media screen and (min-width: 480px) and (max-width: 990px) {
    #project-banner {
        width: 80%;
    }

    #project-container {
        width: 90vw;
    }
}