#register-container {
    margin: inherit;
    padding: 1rem;
    max-width: 70vw;
    height: 65vh;
    display: flex;
    justify-content: space-between;
}

#register-banner {
    max-width: 30%;
}

#register-form {
    min-width: 40%;
    margin-bottom: 2rem;
    padding: 3rem;
    background-color: #f9fafc;
    border-radius: 1rem;
}